<!DOCTYPE html>
<html>
<head>
  <title>DeloitteLogo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href="/assets/css/themes/monokai.css" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="/assets/js/rainbow.js"></script>
<script src="/assets/js/rainbow.min.js"></script>
<script src="/assets/js/language/generic.js"></script>
<script src="/assets/js/language/python.js"></script>
<script src="/assets/js/language/ruby.js"></script>
<script src="/assets/js/language/html.js"></script>
<script src="/assets/js/language/javascript.js"></script>
<script src="/assets/js/language/css.js"></script>

</body>
</html>
